// css reset
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
html {
    font-size: 12px;
}
body {
    font-size: 1rem;
    min-width: 100%;
}

.game-wrapper {
    width: 80%;
    min-width: 400px;
    height: 80vh;
    max-width: 1236px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vh auto;
}
.title {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    font-size: 3vmax;
    font-weight: 300;
    color: $title-color;
    text-transform: uppercase;
    letter-spacing: 14px;
    margin-bottom: 20px;
    span {
        color: $regularText-color;
        font-size: 0.6em;
        padding-top: 10px;
        text-align: center;
        letter-spacing: 3px;
    } 
}

%card { 
   width: 20vw;
   height: 20vw;
    max-width: 210px;
    max-height: 210px;
    min-width: 80px;
    min-height: 80px;
    border: 3px solid white;
    @include breakpoint (tablet) {
        width: 15vw;
        height: 15vw;
    } 
}
.size {
    @extend %card;
}
.game-container {
    width: 40vw;
    min-width: 163px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    @include breakpoint (tablet) {
        width: 100%;
    }  
    .blue {
        background: url("../images/blue_monster.jpg") center center/cover no-repeat; 
    }
    .green {
        @extend %card;
        background: url("../images/green_monster.jpg") center center/cover no-repeat;
    }
    .pink {
        @extend %card;
        background: url("../images/pink_monster.jpg") center center/cover no-repeat;
    }
    .purple {
        @extend %card;
        background: url("../images/purple_monster.jpg") center center/cover no-repeat;
    }
    .purplelight {
        @extend %card;
        background: url("../images/purplelight_monster.jpg") center center/cover no-repeat;
    }
    .covered {
        @extend %card;
        background: url("../images/cards_bg.jpg") center center/cover no-repeat;
        border-radius: 9px;
    }
}
.flipping-animation {
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.hidden {
    visibility: hidden;
}
.restart-button {
    border-radius: 10px;
    background-color: $restartButton-color;
    width: 150px;
    height: 50px;
    font-size: 1rem;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    align-self: flex-end;
    margin-left: 45%;
}

/* Generated by Animista
w: http://animista.net, t: @cssanimista */

@-webkit-keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
